/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fcca46;
  text-decoration: none;
}

.main-legale {
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.legale-bloc {
  margin-bottom: 2%;
}

.btn {
  width: 18rem;
  margin: 3rem auto 5rem auto;
  padding: 0.5rem;
  color: #fcca46;
  background-color: #579c87;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 150%;
}

.loading span {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

.note {
  width: 15%;
}

.topBanniere {
  background-color: #579c87;
  height: 7rem;
}
.topBanniere .logo {
  padding-top: 1rem;
  text-align: center;
}
.topBanniere .title {
  width: 300px;
}

.bottomBanniere {
  background-color: #579c87;
  bottom: 0;
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
}

.mentions,
.contactNous {
  color: #fcca46;
}

.shake:hover {
  animation: shake 0.5s;
}

a {
  color: #fcca46;
  text-decoration: none;
}

.main-legale {
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.legale-bloc {
  margin-bottom: 2%;
}

.menuBloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50rem;
  margin: 3rem auto;
}
.menuBloc :hover .menu-title {
  transform: scale(1.2);
}
.menuBloc .menu {
  width: 18rem;
  height: 25rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: grey 1px 1px 5px;
}

.menu-title {
  transform: scale(1);
  transition: all 250ms ease-in-out;
  opacity: 0.9;
}

.menu1 {
  background-color: #fcdfdb;
}
.menu1 .menu-title {
  padding-bottom: 5%;
}
.menu1 .logo-note {
  background: linear-gradient(to right, #f15c61, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 50px;
}
.menu1 .lanote {
  color: #3c1218;
  font-family: "Ma Shan Zheng";
  font-size: 30px;
}
.menu1 .menu-menu {
  font-size: 40px;
  color: #3c1218;
  font-family: "Ma Shan Zheng";
}

.menu2 {
  background-color: #fff5fe;
}
.menu2 .lechic {
  background: linear-gradient(to right, #d8852e, #905bfd);
  font-family: "Croissant One";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 20px;
}
.menu2 .menu-menu {
  font-size: 30px;
  color: #c77412;
  font-family: "Croissant One";
}

.menu3 {
  background-color: #f9f9f9;
}
.menu3 .ledelice {
  background: linear-gradient(to right, #0431df, #51a5fa);
  font-family: "Dancing Script";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 30px;
}
.menu3 .menu-menu {
  font-size: 40px;
  color: #0887fb;
  font-family: "Dancing Script";
}

.menu4 {
  background-color: #fdfffd;
}
.menu4 .lapalette {
  background: linear-gradient(to right, #3d9339, #bfff7e);
  font-family: "Kaushan Script";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 30px;
}
.menu4 .menu-menu {
  font-size: 40px;
  color: #72bf56;
  font-family: "Kaushan Script";
}

#menu1 .mainMenu {
  background-color: #fcdfdb;
}
#menu1 .menu-details {
  font-family: "Ma Shan Zheng";
  width: 40%;
}
#menu1 .bloc .title {
  font-family: "Caveat";
}
#menu1 .bloc-details {
  font-family: "Caveat";
}
#menu1 .separations {
  height: 100%;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#menu1 .menu-bottom {
  display: flex;
  flex-direction: row;
  font-family: "Ma Shan Zheng";
  font-size: 50px;
  justify-content: center;
  margin: 10% 0;
}
#menu1 .menu-bottom .details-subtitle {
  margin-top: auto;
  margin-bottom: auto;
}
#menu1 .menu-bottom .logo-note {
  margin: 30px;
  margin-bottom: auto;
}

#menu2 .mainMenu {
  background-color: #fff5fe;
}
#menu2 .menu-details {
  width: 100%;
}
#menu2 .menu-details .details-subtitle {
  background: linear-gradient(to right, #d8852e, #905bfd);
  font-family: "Croissant One";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  margin-top: 5rem;
}
#menu2 .bloc .title {
  width: 100%;
}
#menu2 .bloc .title .separations {
  width: 222px;
  height: 14px;
}
#menu2 .bloc .title .subtitle1-menu2 {
  color: #c67412;
  font-size: 25px;
}
#menu2 .bloc .title .subtitle2-menu2 {
  color: #a56799;
  font-size: 25px;
}
#menu2 .bloc .title .subtitle3-menu2 {
  color: #6e4ccc;
  font-size: 25px;
}
#menu2 .orange-col {
  color: #c67412;
  margin-top: 2rem;
}
#menu2 .violet-col {
  color: #a56799;
  margin-top: 2rem;
}
#menu2 .blue-col {
  color: #6e4ccc;
  margin-top: 2rem;
}
#menu2 .bloc-liste {
  margin: 2rem 5rem;
  font-size: 28px;
  font-family: "Markazi Text";
}
#menu2 .menu-bottom {
  margin-bottom: 10rem;
}

#menu3 .mainMenu {
  background-color: #edefef;
}
#menu3 .menu-details {
  width: 100%;
}
#menu3 .menu-details .details-subtitle {
  background: linear-gradient(to right, #0431df, #51a5fa);
  font-family: "Dancing Script";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 80px;
}
#menu3 .bloc {
  font-family: "Handlee";
}
#menu3 .bloc .title {
  font-size: 27px;
}
#menu3 .bloc .separations {
  width: 280px;
  height: 12px;
  margin: auto;
}
#menu3 .bloc-liste {
  padding: 2rem 4rem 0 4rem;
}
#menu3 .bloc-liste .item {
  font-size: 24px;
  margin-bottom: 2rem;
}
#menu3 .menu-bottom {
  padding-bottom: 10rem;
}

#menu4 .mainMenu {
  background-color: #fdfffd;
}
#menu4 .mainMenu .menu-details {
  width: 100%;
}
#menu4 .details-subtitle {
  background: linear-gradient(to right, #3d9339, #bfff7e);
  font-family: "Kaushan Script";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 60px;
}
#menu4 .separations {
  width: 232px;
  height: 11.2px;
  margin: auto 0;
}
#menu4 .subtitle-menu4 {
  font-family: "Caveat";
}
#menu4 .bloc-liste {
  width: 85%;
  font-size: 25px;
  font-family: "Caveat";
  margin: 3rem 5rem 0 5rem;
}
#menu4 .menu-bottom {
  margin-bottom: 10rem;
}

.logo-note {
  background: linear-gradient(to right, #f15c61, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
  font-size: 80px;
}

.subTitle {
  text-align: center;
  padding: 3rem 3rem 2rem 3rem;
  font-weight: bolder;
  font-size: 50px;
}

.trait {
  border-bottom: solid black 3px;
  animation: anim-sub 1.5s infinite ease-out;
}

.mainMenu {
  padding: 2rem 5rem;
  justify-content: center;
  width: 60%;
  margin: 0 auto 10rem auto;
  box-shadow: grey 1px 1px 5px;
}

.menu-details {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}
.menu-details .menu-logo-note {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.bloc {
  width: 100%;
  margin-top: 10%;
}
.bloc .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bolder;
}

.bloc-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;
}
.bloc-details .bloc-liste {
  width: 100%;
}
.bloc-details .item {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.bloc-details .item .item-txt {
  width: 80%;
}

@media (max-width: 900px) {
  .menuBloc {
    width: fit-content;
  }

  .topBanniere {
    width: 100%;
  }
  .topBanniere .title {
    width: 300px;
    margin: auto;
  }

  #menu1 .subTitle,
#menu2 .subTitle,
#menu3 .subTitle,
#menu4 .subTitle {
    font-size: 30px;
  }
  #menu1 .mainMenu,
#menu2 .mainMenu,
#menu3 .mainMenu,
#menu4 .mainMenu {
    width: 90%;
    padding: 0;
  }
  #menu1 .menu-details,
#menu2 .menu-details,
#menu3 .menu-details,
#menu4 .menu-details {
    width: 90%;
  }
  #menu1 .bloc,
#menu2 .bloc,
#menu3 .bloc,
#menu4 .bloc {
    width: 90%;
    padding: 0 5%;
  }
  #menu1 .bloc .title,
#menu2 .bloc .title,
#menu3 .bloc .title,
#menu4 .bloc .title {
    font-size: 20px;
    text-align: center;
  }
  #menu1 .bloc .title .separations,
#menu2 .bloc .title .separations,
#menu3 .bloc .title .separations,
#menu4 .bloc .title .separations {
    width: 80px;
  }
  #menu1 .bloc .bloc-details,
#menu2 .bloc .bloc-details,
#menu3 .bloc .bloc-details,
#menu4 .bloc .bloc-details {
    width: 80%;
    margin: auto;
    font-size: 20px;
    padding-top: 3%;
  }
  #menu1 .bloc .bloc-details .item,
#menu2 .bloc .bloc-details .item,
#menu3 .bloc .bloc-details .item,
#menu4 .bloc .bloc-details .item {
    width: 100%;
    margin-bottom: 1rem;
  }
  #menu1 .bloc .bloc-details .item .item-txt,
#menu2 .bloc .bloc-details .item .item-txt,
#menu3 .bloc .bloc-details .item .item-txt,
#menu4 .bloc .bloc-details .item .item-txt {
    width: 70%;
  }
  #menu1 .menu-details .menu-logo-note,
#menu2 .menu-details .menu-logo-note,
#menu3 .menu-details .menu-logo-note,
#menu4 .menu-details .menu-logo-note {
    width: 40px;
    margin-top: 2rem;
  }
  #menu1 .menu-bottom,
#menu2 .menu-bottom,
#menu3 .menu-bottom,
#menu4 .menu-bottom {
    font-size: 30px;
    padding-bottom: 5rem;
  }
  #menu1 .menu-bottom .menu-logo-note,
#menu2 .menu-bottom .menu-logo-note,
#menu3 .menu-bottom .menu-logo-note,
#menu4 .menu-bottom .menu-logo-note {
    margin: 0 1rem;
  }

  #menu2 .details-subtitle {
    font-size: 25px;
  }
  #menu2 .bloc {
    width: auto;
    padding: 0;
  }
  #menu2 .bloc .separations {
    margin: auto;
  }
  #menu2 .bloc .bloc-details {
    width: auto;
    margin: 0;
  }
  #menu2 .bloc .bloc-details .bloc-liste {
    margin: 0 2rem;
  }

  #menu3 .mainMenu .details-subtitle {
    font-size: 40px;
    margin-top: 2rem;
  }
  #menu3 .mainMenu .bloc {
    width: auto;
    padding: 0 1rem;
  }
  #menu3 .mainMenu .bloc .bloc-details {
    width: 100%;
  }
  #menu3 .mainMenu .bloc .bloc-liste {
    padding-left: 1rem;
  }
  #menu3 .mainMenu .bloc .bloc-liste .item-txt {
    width: 80%;
  }
  #menu3 .mainMenu .bloc .bloc-liste .item-price {
    width: 10%;
  }

  #menu4 .details-subtitle {
    font-size: 40px;
    margin-top: 2rem;
  }
  #menu4 .bloc-liste {
    width: auto;
    margin: 0;
  }
  #menu4 .bloc-liste .item-txt,
#menu4 .bloc-liste .item-price {
    margin-top: 1rem;
  }
}
@keyframes shake {
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  30% {
    transform: translateX(2px);
  }
  40% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-1.5px);
  }
  80% {
    transform: translateY(1.5px);
  }
  90% {
    transform: translateY(-1.5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loading {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes anim-sub {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
