@mixin home-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@mixin box-menu {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5%;
}