@import "../layout/menu-details";

#menu1 {
  .mainMenu {
    background-color: $menu1-color;
  }

  .menu-details {
    font-family: $font-menu1;
    width: 40%;
  }

  .bloc {
    .title {
      font-family: $font-menu1-detail;
    }
  }

  .bloc-details {
    font-family: $font-menu1-detail;
  }

  .separations {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .menu-bottom {
    display: flex;
    flex-direction: row;
    font-family: $font-menu1;
    font-size: 50px;
    justify-content: center;
    margin: 10% 0;

    .details-subtitle {
      margin-top: auto;
      margin-bottom: auto;
    }

    .menu-logo-note {
      width: 8%;
    }
  }
}