@import "../layout/menu-details";

#menu4 {
    .mainMenu {
      background-color: $menu4-color;

      .menu-details {
        width: 100%;
      }
    }

    .details-subtitle {
      @include title-menu4;
      @include box-menu;
      font-size: 60px;
    }

   .separations {
      width: 232px;
      height: 11.2px;
      margin: auto 0;
   }

   .subtitle-menu4 {
     font-family: $font-menu1-detail;
   }

    .bloc-liste {
      width: 85%;
      font-size: 25px;
      font-family: $font-menu1-detail;
      margin: 3rem 5rem 0 5rem;
    }

    .menu-bottom {
      margin-bottom: 10rem;
    }
}