@import "../layout/menu-details";

#menu2 {
  .mainMenu {
    background-color: $menu2-color;
  }
  .menu-details {
    width: 100%;
    .details-subtitle {
      @include title-menu2;
      @include box-menu;
      margin-top: 5rem;
    }
  }
  .bloc .title {
    width: 100%;
    .separations {
      width: 222px;
      height: 14px;
    }
    .subtitle1-menu2 {
      color: #c67412;
      font-size: 25px;
    }
    .subtitle2-menu2 {
      color: #a56799;
      font-size: 25px;
    }
    .subtitle3-menu2 {
      color: #6e4ccc;
      font-size: 25px;
    }
  }
  .orange-col {
    color: #c67412;
    margin-top: 2rem;
  }

  .violet-col {
    color: #a56799;
    margin-top: 2rem;
  }

  .blue-col {
    color: #6e4ccc;
    margin-top: 2rem;
  }

  .bloc-liste {
    margin: 2rem 5rem;
    font-size: 28px;
    font-family: $font-body-menu2;
  }  

  .menu-bottom {
    margin-bottom: 10rem;
  }
}
