@import "../layout/menu-details";

#menu3 {

    .mainMenu {
        background-color: #edefef;
    }

    .menu-details {
        width: 100%;

        .details-subtitle {
            @include title-menu3;
            @include box-menu;
            font-size: 80px;
        }
    }

    .bloc {
        font-family: $font-body-menu3;

        .title {
            font-size: 27px;
        }

        .separations {
            width: 280px;
            height: 12px;
            margin: auto;
        }
    }

    .bloc-liste {
        padding: 2rem 4rem 0 4rem;

        .item {
            font-size: 24px;
            margin-bottom: 2rem;
        }
    }

    .menu-bottom {
        padding-bottom: 10rem;
    }

}