.btn {
  width: 18rem;
  margin: 3rem auto 5rem auto;
  padding: 0.5rem;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 150%;
}

.loading span {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}