$primary-color: #579c87;
$secondary-color: #ffc904;
$menu1-color: #fcdfdb;
$menu2-color: #fff5fe;
$menu3-color: #f9f9f9;
$menu4-color: #fdfffd;
$font-menu1: 'Ma Shan Zheng';
$font-menu1-detail: 'Caveat';
$font-menu2: 'Croissant One';
$font-body-menu2: 'Markazi Text';
$font-menu3: 'Dancing Script';
$font-body-menu3: 'Handlee';
$font-menu4: 'Kaushan Script';
$menu-shadow: grey 1px 1px 5px;

a {
  color: $secondary-color;
  text-decoration: none;
}

.main-legale {
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.legale-bloc {
  margin-bottom: 2%;
}